@font-face {
    font-family: 'ITC Century';
    src: url('Century-BookCondensed.otf')
}

body {
    font-family: 'ITC Century';
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-align: center;
    background-color: red;
}

.pic {
    width: 30%;
    padding: 10px;
}

h1 {
    font-weight: 300;
    margin: 0px;
    font-size: 20px;
    background-color: #276733;
    color: #fff;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #276733;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 35%;
}

button:hover {
    background-color: rgb(92, 153, 13);
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    margin-top: 20px;
}

.inner-answer {
    display: list-item;
    list-style: upper-alpha inside;
    clear: left;
}

.inner-answer label {
    display: inline-block;
}